* {
    box-sizing: border-box;
}

a:active,
a:focus,
input:active,
input:focus,
textarea:active,
textarea:focus,
button:active,
button:focus,
label:active,
label:focus {
    outline: none !important;
    outline-style: none !important;
    -moz-outline-style: none !important;
    text-decoration: none !important;
}
button{
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--black);
    margin: 0;
}
h1{
    font-weight: 600;
    font-size: 41px;
    margin-bottom: 69px;
    text-align: center;
}

input,
select,
textarea {
    outline: none !important;
    outline-style: none !important;
    -moz-outline-style: none !important;
    border: 0;
}

p {
    
}

img {
    line-height: 100%;
    max-width: 100%;
    display: block;
}

a,
a:hover,
a:focus,
a:visited,
a:active {
    text-decoration: none;
    position: relative;
    color: currentColor;
}

ul {
    list-style-type: none;
    list-style-position: inside;
    display: block;
    margin: 0;
    padding: 0;
}

ol {
    list-style-type: decimal;
    list-style-position: inside;
    display: block;
    margin: 0;
    padding: 0;
}

b,
strong {
    font-weight: 600;
}

i {
    font-style: italic;
}

table {
    border: 0;
    border-collapse: collapse;
    margin: 0;
    width: 100%;
}

table th {
    font-weight: 400;
}

table th,
table td {
    border: 0;
    padding: 0;
}

:root {
    --font-family: "Inter", sans-serif;
    --second-family: "Manrope", sans-serif;
    --black: #000;
    --black-80: rgba(42, 43, 47, 0.8);
    --transition: all 0.2s ease-in-out;
    --transition05: all 0.5s ease-in-out;
}
html{
    -webkit-tap-highlight-color: transparent;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    color: var(--black-80);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.4;
    padding: 0;
    margin: 0;
    flex-direction: column;
    background: #fff;
    font-family: var(--font-family);
}
.oh{
    overflow: hidden;
}
.ac{
    text-align: center;
}
.wow {
    visibility: hidden;
}
.container {
    width: 100%;
    max-width: 990px;
    margin: 0 auto;
    padding: 0 10px;
}
.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border-radius: 7px;
    font-weight: 500;
    line-height: 128%;
    padding: 0 34px;
    transition: var(--transition);
    color: #fff;
    background: #bc4749;
    opacity: 1 ;
    border: 1px solid #d66567;
    img{
        margin-left: 10px;
        transition: var(--transition);
    }
    &:hover {
        background: #994445;
        img{
            transform: translateX(3px);
        }
    }
    &_transparent {
        border: 1px solid #D0D0D0;
        box-shadow: 0px 6px 14px 0px rgba(0, 0, 0, 0.10);
        background: transparent;
        &:hover {
            background: rgba(0, 0, 0, 0.10);
        }
    }
}
header{
    p{
        strong{

        }
        span{

        }
    }
    ul{
        li{
            a{
                
            }
        }
    }
}
.article {
    &_bg-blue {}
}
.intro {
}
.solution {
    &__item {}
    &__title {}
    &__desc {}
}
.tab {
    &_content {}
    &_item {}
    &__list {}
    &__btn {}
    &__desc {}
    &__title {}
    &__pic {}
}
.help {
    &__item {}
    &__iconwrap {}
    &__title {}
    &__desc {}
}





@import '_animate';
@import '_query';