* {
    box-sizing: border-box;
}

a:active,
a:focus,
input:active,
input:focus,
textarea:active,
textarea:focus,
button:active,
button:focus,
label:active,
label:focus {
    outline: none !important;
    outline-style: none !important;
    -moz-outline-style: none !important;
    text-decoration: none !important;
}
button{
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--black);
    font-weight: 900;
    margin: 0;
    line-height: 100%;
    text-align: center;
    margin-bottom: 24px;
    letter-spacing: -0.05em;
}
h1{
    font-size: 70px;
}
h2{
    font-size: 60px;
}

input,
select,
textarea {
    outline: none !important;
    outline-style: none !important;
    -moz-outline-style: none !important;
    border: 0;
}

p {
    margin: 0 0 16px;
    &:last-child{
        margin: 0;
    }
}

img {
    line-height: 100%;
    max-width: 100%;
    display: block;
}

a,
a:hover,
a:focus,
a:visited,
a:active {
    text-decoration: none;
    position: relative;
    color: currentColor;
}

ul {
    list-style-type: none;
    list-style-position: inside;
    display: block;
    margin: 0;
    padding: 0;
}

ol {
    list-style-type: decimal;
    list-style-position: inside;
    display: block;
    margin: 0;
    padding: 0;
}

b,
strong {
    font-weight: 600;
}

i {
    font-style: italic;
}

table {
    border: 0;
    border-collapse: collapse;
    margin: 0;
    width: 100%;
}

table th {
    font-weight: 400;
}

table th,
table td {
    border: 0;
    padding: 0;
}

:root {
    --font-family: "Inter", sans-serif;
    --second-family: "Manrope", sans-serif;
    --black: #000;
    --black-80: rgba(42, 43, 47, 0.8);
    --blue: #0146fe;
    --white: #fff;
    --transition: all 0.2s ease-in-out;
    --transition05: all 0.5s ease-in-out;
    --transitionbtn: all 0.8s cubic-bezier(.4,0,.2,1);
}
html{
    -webkit-tap-highlight-color: transparent;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    color: var(--black-80);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.4;
    padding: 0;
    margin: 0;
    flex-direction: column;
    background: #fff;
    font-family: var(--font-family);
}
.oh{
    overflow: hidden;
}
.ac{
    text-align: center;
}
.wow {
    visibility: hidden;
}
.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}
header{
    background: #0146fe;
    color: #fff;
    height: 106px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    transition: var(--transition);
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    &.unvis {
        top: -140px;
    }
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }
    p{
        display: flex;
        flex-direction: column;
        margin: 0;
        strong{
            font-weight: 700;
            letter-spacing: -0.01em;
            font-size: 40px;
            line-height: 100%;
            span{
                font-size: 24px;
                font-weight: 300;
                
            }
        }
        span{
            font-size: 10px;
            font-weight: 200;
        }
    }
    ul{
        display: flex;
        gap: 30px;
        li{
            a{
                font-size: 18px;
                position: relative;
                display: inline-block;
                &:before {
                    content: "";
                    height: 1px;
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    right: 0;
                    width: 0;
                    background: #a1b9ff;;
                    transition: var(--transition);
                }
                &:hover:before {
                    width: 100%;
                    left: 0;
                }
            }
        }
    }
}
.main{
    padding-top: 106px;
}
.article {
    padding: 64px 0 70px;
    &_bg-blue {
        background: #f4f6fd;
    }
    &_solution{
        padding-bottom: 140px;
    }
    &_help{
        h2{
            padding-bottom: 46px;
        }
    }
    &__desc{
        font-weight: 400;
        letter-spacing: -0.01em;
        color: var(--black-80);
        max-width: 680px;
        margin: 0 auto 64px;
        line-height: 1.4;
    }
}
.intro {
    padding-top: 80px;
    &__desc{
        font-family: var(--second-family);
        font-weight: 400;
        letter-spacing: -0.01em;
        color: var(--black-80);
        max-width: 680px;
        margin: 0 auto 40px;
        line-height: 1.4;
    }
}
.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    border-radius: 12px;
    padding: 0 94px;
    transition: var(--transition);
    color: #fff;
    background: var(--blue);
    position: relative;
    overflow: hidden;
    border: 0;
    span{
        position: relative;
        z-index: 20;
        transition: var(--transition);
        font-family: var(--font-family);
        display: inline-block;
        font-weight: 600;
        letter-spacing: -0.01em;
        font-size: 20px;
        line-height: 120%;
    }
    &:after{
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 0;
        padding-top: 100%;
        transform: translateY(100%);
        border-radius: 50%;
        transition: var(--transitionbtn);
        z-index: 10;
        background: #0c3ec8;
    }
    &:hover {
        box-shadow: 0 0 14px 2px var(--blue);
        span{
            transform: scale(1.05);
        }
        &:after{
            transform: translateY(0);
        }
    }
}
.solution {
    display: grid;
    grid-template: auto / repeat(3, 1fr);
    gap: 20px;
    li{
        border: 2px solid rgba(0, 0, 0, 0.04);
        border-radius: 32px;
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.08);
        transition: var(--transition);
        &:hover{
            box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.18);
        }
    }
    &__inner{

    }
    &__item {
        display: block;
        padding: 24px 16px 16px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }
    &__title {
        font-size: 34px;
        letter-spacing: -0.03em;
        margin-bottom: 12px;
    }
    &__desc {
        letter-spacing: -0.01em;
        color: rgba(0, 0, 0, 0.8);
    }
}
.tab {
    margin-bottom: 120px;
    &__content {
        padding: 0 60px;
        position: relative;
        &:after, &:before{
            content: '';
            display: block;
            position: absolute;
            height: 100%;
            bottom: -26px;
            left: 100px;
            right: 100px;
            border: 2px solid rgba(0, 0, 0, 0.04);
            border-radius: 32px;
            box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.12);
            z-index: 5;
            background: #fff;
        }
        &:before{
            bottom: -52px;
            left: 136px;
            right: 136px;
            z-index: 2;
            background: #fff;
        }
    }
    &__itemwrap{
        border: 2px solid rgba(0, 0, 0, 0.04);
        border-radius: 32px;
        box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.12);
        padding: 42px;
        position: relative;
        z-index: 10;
        background: #fff;
    }
    &__item {
        display: grid;
        grid-template: auto / 1fr 1fr;
        gap: 20px;
        background: #fff;
        
    }
    &__list {
        display: flex;
        justify-content: center;
        gap: 16px;
        margin-bottom: 32px;
    }
    &__btn {
        display: inline-flex;
        height: 50px;
        padding: 0 32px;
        align-items: center;
        justify-content: center;
        background: #f4f6fd;
        border-radius: 12px;
        cursor: pointer;
        transition: var(--transition);
        position: relative;
        overflow: hidden;
        span{
            font-weight: 600;
            font-size: 18px;
            line-height: 100%;
            letter-spacing: -0.03em;
            font-family: var(--font-family);
            position: relative;
            z-index: 11;
            transition: var(--transition);
        }
        &:after{
            content: '';
            display: block;
            position: absolute;
            width: 110%;
            height: 0;
            padding-top: 100%;
            transform: translateY(100%);
            border-radius: 50%;
            transition: var(--transitionbtn);
            z-index: 10;
            background: #eaeaea;
        }
        &:hover {
            box-shadow: 0 0 14px 2px #c5c6c8;
            span{
                transform: scale(1.05);
            }
            &:after{
                transform: translateY(0);
            }
        }
        &.act{
            background: var(--blue);
            cursor: default;
            span{
                color: var(--white);
            }
            &:after{
                display: none;
            }
            &:hover {
                box-shadow: none;
                span{
                    transform: none;
                }
            }
        }
    }
    &__desc {
        padding-right: 60px;
        ul{
            list-style-type: disc;
            list-style-position: outside;
            padding-left: 18px;
            li{
                color: rgba(42, 43, 47, 0.9);
            }
        }
    }
    &__title {
        font-size: 60px;
        letter-spacing: -0.05em;
        text-align: left;
    }
    &__pic {
        width: 100%;
        overflow: hidden;
        border-radius: 32px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
.help {
    width: 900px;
    margin: 0 auto 70px;
    display: grid;
    grid-template: auto / repeat(3, 1fr);
    gap: 56px 16px;
    &__item {
        text-align: center;
    }
    &__iconwrap {
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 14px;
    }
    &__title {
        font-size: 34px;
        letter-spacing: -0.03em;
        margin-bottom: 14px;
    }
    &__desc {
        letter-spacing: -0.01em;
        color: #7a869c;
        padding: 0 20px;
    }
}





@import '_animate';
@import '_query';